.align-center { text-align: center; }
main {
  min-height: calc(100vh - 128px);
}
.header-now-value {
	font-family: Arial,Helvetica,sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 26px;
	margin: 0 5px 0 5px
}
.header-now-small .header-now-value {
	font-size: 12px;
}

.header-container{
	margin: 10px 0 10px 0;
}

.header-now-small .header-now-unit{
	font-size: 9px;
}

.message-error{
	background-color: #FF5252 !important;
}
.message-warning{
	background-color: #FFFF00 !important;
}
.message-info{
	background-color: #03A9F4 !important;
}

.header-now-unit{
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	color: #333333;
}
.individual-units{
}
.temperature{
	background: url("../images/Thermometer_Hot.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.humidity{
	background: url("../images/Raindrop.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.pressure{
	background: url("../images/Barometer.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.precipitation{
	background: url("../images/Umbrella.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.windSpeed{
	background: url("../images/Wind.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.windDirection{
	background: url("../images/Vane_E.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}
.luminosity{
	background: url("../images/Sunny.png") no-repeat center;
	min-width: 32px;
	min-height: 32px;
	margin: 0 5px 0 5px
}

.background-image{
	background-image: url("../images/background2.jpg");
	position: fixed;
	bottom: 0px;
	right: 0px;
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
.transparent{
	background-color: transparent !important;
}

.social-buttons{
	height: 21px;
}

.social-buttons div{
	padding-right: 9px;
}

.pricing-block-outter{
	margin: 20px;
}

.pricing-block-outter-selected{
	padding: 15px;
}

.pricing-block{
	min-width: 200px;
	max-width: 200px;
	min-height: 400px;
}

.home-block{
	min-width: 200px;
	max-width: 200px;
}

.pricing-title{
	margin-top: 15px;
    margin-bottom: 1px;
}
.pricing-price{
	font-family: Arial,Helvetica,sans-serif;
	color: #333333;
	font-weight: bold;
	font-size: 26px;
	margin: 0 5px 0 5px
}
.pricing-description{
	width: 185px;
}
.pricing-item{

}

.home-block .description{
	width: 215px;
	height: 60px;
	margin: 30px;
}

.home-block .title{
	font-weight: bold;
}

.material-icons.md-48 {
	font-size: 48px;
	width: 48px;
	height: 58px;
}


.autocompletedemoCustomTemplate .autocomplete-custom-template li {
  border-bottom: 1px solid #ccc;
  height: auto;
  padding-top: 8px;
  padding-bottom: 8px;
  white-space: normal; }

.autocompletedemoCustomTemplate .autocomplete-custom-template li:last-child {
  border-bottom-width: 0; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title,
.autocompletedemoCustomTemplate .autocomplete-custom-template .item-metadata {
  display: block;
  line-height: 2; }

.autocompletedemoCustomTemplate .autocomplete-custom-template .item-title md-icon {
  height: 18px;
  width: 18px; }
